<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="demo.mapper.GoodsMapper" >
<cache type="org.mybatis.caches.ehcache.EhcacheCache" flushInterval="60000"/>
  <resultMap id="BaseResultMap" type="demo.po.Goods" >
    <id column="gid" property="gid" jdbcType="VARCHAR" />
    <result column="gname" property="gname" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="cid" property="cid" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="ccid" property="ccid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    gid, gname, price, introduction, detail, cid, image, ccid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="demo.po.GoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_goods
    where gid = #{gid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_goods
    where gid = #{gid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="demo.po.GoodsExample" >
    delete from t_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="demo.po.Goods" >
  <!-- <selectKey keyProperty="gid" resultType="string" order="BEFORE">
  		select replace(uuid(),'-','')
  </selectKey> -->
    insert into t_goods (gid, gname, price, 
      introduction, detail, cid, 
      image, ccid)
    values (#{gid,jdbcType=VARCHAR}, #{gname,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, 
      #{introduction,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, #{cid,jdbcType=VARCHAR}, 
      #{image,jdbcType=VARCHAR}, #{ccid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="demo.po.Goods" >
    insert into t_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gid != null" >
        gid,
      </if>
      <if test="gname != null" >
        gname,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="detail != null" >
        detail,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="ccid != null" >
        ccid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gid != null" >
        #{gid,jdbcType=VARCHAR},
      </if>
      <if test="gname != null" >
        #{gname,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="ccid != null" >
        #{ccid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="demo.po.GoodsExample" resultType="java.lang.Integer" >
    select count(*) from t_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_goods
    <set >
      <if test="record.gid != null" >
        gid = #{record.gid,jdbcType=VARCHAR},
      </if>
      <if test="record.gname != null" >
        gname = #{record.gname,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DOUBLE},
      </if>
      <if test="record.introduction != null" >
        introduction = #{record.introduction,jdbcType=VARCHAR},
      </if>
      <if test="record.detail != null" >
        detail = #{record.detail,jdbcType=VARCHAR},
      </if>
      <if test="record.cid != null" >
        cid = #{record.cid,jdbcType=VARCHAR},
      </if>
      <if test="record.image != null" >
        image = #{record.image,jdbcType=VARCHAR},
      </if>
      <if test="record.ccid != null" >
        ccid = #{record.ccid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_goods
    set gid = #{record.gid,jdbcType=VARCHAR},
      gname = #{record.gname,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DOUBLE},
      introduction = #{record.introduction,jdbcType=VARCHAR},
      detail = #{record.detail,jdbcType=VARCHAR},
      cid = #{record.cid,jdbcType=VARCHAR},
      image = #{record.image,jdbcType=VARCHAR},
      ccid = #{record.ccid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="demo.po.Goods" >
    update t_goods
    <set >
      <if test="gname != null" >
        gname = #{gname,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="ccid != null" >
        ccid = #{ccid,jdbcType=VARCHAR},
      </if>
    </set>
    where gid = #{gid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="demo.po.Goods" >
    update t_goods
    set gname = #{gname,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      introduction = #{introduction,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      ccid = #{ccid,jdbcType=VARCHAR}
    where gid = #{gid,jdbcType=VARCHAR}
  </update>
  <select id="findAllGoods" resultType="demo.po.Goods">
  		select * from t_goods
  </select>
  <select id="findGoodsByGoodsName" resultType="demo.po.Goods">
  		select * from t_goods where gname like concat('%',#{value},'%')
  </select>
</mapper>